# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.env.*

# Flask instance folder
instance/

# Flask cache and session files
flask_session/

# Static file build outputs
/static/
*.log


# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

